:root {
    --color-black: #060A24;
    --color-lightblue: #00F3BB;
    --color-darkblue: #0000EC;
    --color-white: #FFFFFF;
    --gradiendts-dark: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    --gradiendts-light: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    --family-mono: 'IBM Plex Mono', monospace, sans-serif;
    --family-sans:'IBM Plex Sans', monospace, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--family-mono);
}

body{
    background-color: var(--color-white);
}
.header {
    width: 100%;
    height: auto;
}

.nav {
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--color-white);
    z-index: 2;
}

.nav_logo{
    width: 2.4rem;
    margin-left: 1.6rem;
}

.nav_checkbox{
    display: none;
}

.nav_menu{
    width: 1.8rem;
    height: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1.9rem;
}

.nav_line {
    width: 1.8rem;
    height: 0.2rem;
    background-color: var(--color-black);
    transition: transform 0.5s;
}

.nav_navbar {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.4rem;
    transform: translate(100%);
    z-index: 2;
    background-color: rgba(29, 29, 29, 0.8);
    list-style: none;
    transition: transform 0.5s;
}

.nav_options {
    width: 100%;
    height: 5.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.6rem;
    background-color: var(--color-darkblue);
    font-size: var(--family-mono);
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.nav_links{
    text-decoration: none;
    color: var(--color-white);
}


.nav_checkbox:checked ~ .nav_menu .nav_line--top {
    transform: translateY(0.55rem) rotate(45deg);
}

.nav_checkbox:checked ~ .nav_menu .nav_line--mid {
    opacity: 0;
}

.nav_checkbox:checked ~ .nav_menu .nav_line--bot {
    transform: translateY(-0.55rem) rotate(135deg);
}

.nav_checkbox:checked ~ .nav_navbar{
    transform: translate(0%);
}


.main {
    width: 100%;
    height: auto;
}

.intro {
    width: auto;
    height: auto;
    margin-top: 7.3rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 2.4rem;
}

.intro_title {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: var(--family-sans);
    color: var(--color-black);
    line-height: 4.2rem;
    white-space: pre-line;
}

.intro_title--world{
    text-decoration: line-through;
}

.intro_text{
    max-width: 61.8rem;
    margin-top: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--family-mono);
    color: var(--color-black);
    line-height: 2.2rem;
}

.intro_text--desktop{
    display: none;
}

.intro_button{
    width: 28.8rem;
    height: 4.8rem;
    margin-top: 3.6rem;
    background-color: var(--color-lightblue);
    border: none;
    font-size: 1.6rem;
    font-family: var(--family-mono);
    color: var(--color-black);
    font-weight: 600;
    line-height: 2.4rem;
}

.intro_button:hover{
    background-image: var(--gradiendts-light);
    color: var(--color-white);
    border: none;
}


.iframes {
    width: 100%;
    height: 91.15rem;
    display: flex;
    flex-direction: column;
    background: var(--gradiendts-dark);
    clip-path: polygon(0% 2.8%, 100% 0%, 100% 97.2%, 0% 100%);
    z-index: -1;
}

.iframes_title {
    margin-top: 6.4rem;
    margin-left: 1.1rem;
    font-size: 3.6rem;
    font-family: var(--family-sans);
    line-height: 4.2rem;
    color: #FFFFFF;
    font-weight: 400;
}

.iframes_container {
    width: auto;
    height: auto;
    margin-top: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
}

.iframes_podcast{
    width: 29.8rem;
    max-width: 58.4rem;
    height: 15.2rem;
}

.extra{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -9.5rem;
}

.extra_phone{
    width: 32.0rem;
    height: 51.9rem;
    z-index: 1;
}

.extra_text{
    width: 90%;
    max-width: 46.4rem;
    display: flex;
    flex-direction: column;
}
.extra_title{
    font-size: 3.6rem;
    font-family: var(--family-sans);
    line-height: 4.2rem;
    color: var(--color-black);
    font-weight: 400;
    margin-top: 2.7rem;
    white-space: pre-line;
}

.extra_paragraph{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: var(--family-mono);
    color: var(--color-black);
    line-height: 2.2rem;
    margin-top: 0.8rem;
    white-space: pre-line;
}

.gallery{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.gallery_title{
    font-size: 3.6rem;
    font-family: var(--family-sans);
    line-height: 4.2rem;
    color: var(--color-black);
    font-weight: 400;
    margin-top: 4.8rem;
    margin-left: 1.6rem;
}

.gallery_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.4rem;
}

.gallery_picture{
    width: 100%;
    height: 24.3rem;
}
.svg{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.svg_title{
    font-size: 3.6rem;
    font-family: var(--family-sans);
    line-height: 4.2rem;
    color: var(--color-black);
    font-weight: 400;
    margin-top: 4.8rem;
    margin-left: 1.6rem;
}

.svg_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 3.7rem;
}

.svg_box{
    width: 22rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.svg_icon{
    width: 10.4rem;
    height: 10.4rem;
}

.svg_text{
    font-size: 2.4rem;
    font-family: var(--family-sans);
    font-weight: 600;
    color: var(--color-black);
    line-height: 3.2rem;
    text-align: center;
}
.contact{
    width: 100%;
    height: 34.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-darkblue);
    clip-path: polygon(0% 11.5%, 100% 0%, 100% 100%, 0% 100%);
}
.contact_title{
    margin-top: 6.4rem;
    font-size: 3.6rem;
    font-family: var(--family-sans);
    line-height: 4.2rem;
    color: var(--color-white);
    font-weight: 400;
    white-space: pre-line;
    text-align: center;
}
.contact_button{
    width: 28.8rem;
    height: 4.8rem;
    margin-top: 3.6rem;
    background-color: var(--color-lightblue);
    border: none;
    font-size: 1.6rem;
    font-family: var(--family-mono);
    color: var(--color-black);
    font-weight: 600;
    line-height: 2.2rem;
}
.contact_button:hover{
    background-image: var(--gradiendts-light);
    color: var(--color-white);
}

.footer{
    width: 100%;
    height: 12.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}
.footer_copyright{
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-black);
    line-height: 2.2rem;
}
.footer_container{
    display: flex;
    justify-content: center;
    gap: 38px;
}
.footer_icon{
    width: 16px;
}